h1 {
  color: red;
  background-color: green;
}
mark {
  font-style: italic;
}
li {
  display: inline-block;
  /* border: 1px solid silver; */
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  width: 248px;
  box-shadow: 2px 2px 4px orange;
}
