<h1>We have {{ calcProds() }} products..!</h1>

<ul>
  <li *ngFor="let mobPart of mobParts">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="./../../../assets/img/sample-1.jpg" />
          <span class="card-title">{{ mobPart.name | uppercase }}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"
            ><i class="material-icons">add</i></a
          >
        </div>
        <div class="card-content">
          <p>Prod. Id: {{ mobPart.id }}</p>
          <p>Prod. Name: {{ mobPart.name | uppercase }}</p>
          <p *ngIf="mobPart.inStock > 0; else abc">
            Prod. in stock: {{ mobPart.inStock }}
          </p>
          <p>
            Product price :
            <s style="color: #f00"
              ><span style="color: #000">
                {{ mobPart.price | currency: "INR" }}
              </span>
            </s>
          </p>
          <p>50% Off price : {{ mobPart.price | offer | currency: "INR" }}</p>
        </div>
      </div>
    </div>

    <ng-template #abc>
      <p>Out Of Stock</p>
    </ng-template>
  </li>
</ul>
